DEBUG=True

# Deployment SERVER address
SERVER=.appseed.us

# For MySql Persistence
DB_ENGINE=mysql
DB_NAME=appseed_db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=appseed_db_usr
DB_PASS=<STRONG_PASS>

+GOOGLE_CLIENT_ID=
+GOOGLE_PROJECT_ID=
+GOOGLE_CLIENT_SECRET=
+GOOGLE_REDIRECT_URIS=
+GOOGLE_JAVASCRIPT_ORIGINS=
+GOOGLE_DEVELOPER_TOKEN=